.general-cart-item.divider-lg-bottom
  = link_to order_item_path(purchase), method: :delete, class: 'close general-cart-close' do
    %span{'aria-hidden': 'true'} &times;
  .general-img-wrap-table
    %img.cart-img-shadow{src: purchase.book.front_image, alt: 'design-book'}
  %p.title= purchase.book.name
  %table.table.purchase
    %tr
      %input.purchase-id{type: 'hidden', value: purchase.id}
      %td
        %span.in-grey-600= t('orders.price')
      %td
        %span.font-16.in-gold-500 €#{purchase.book.price}
    %tr
      %td.vertical-middle
        %span.in-grey-600= t('orders.quantity')
      %td
        .input-group
          %a.input-link
            %i.fa.switchers.fa-minus.line-height-40
          %input.form-control.quantity-input{type: 'text', value: purchase.quantity.to_i}
          %a.input-link
            %i.fa.switchers.fa-plus.line-height-40
    %tr
      %td
        %span.in-grey-600= t('orders.subtotal')
      %td
        %span.font-16.position-price.in-gold-500 €#{purchase.price_with_quantity}