%p
  #{t('general.hello')} #{@resource.email}!
%p= t('mailers.request_pass_change')
%p= link_to t('mailers.change_password'), edit_password_url(@resource, reset_password_token: @token)
%p= t('mailers.not_your_request')
%p= t('mailers.access_link')
