%main.container
  %h1.general-title-margin= t('orders.checkout')
  %ul.steps.list-inline
    - (wizard_steps - [:fast_sign]).each_with_index  do |checkout_step, number|
      - if current_step? checkout_step
        = link_to wizard_path(checkout_step), class: 'step active' do
          %span.step-number= number + 1
          %span.step-text.hidden-xs= checkout_step.capitalize
        %li.step-divider
      - else
        = link_to wizard_path(checkout_step, editing: true), class: 'step' do
          %span.step-number= number + 1
          %span.step-text.hidden-xs= checkout_step.to_s.capitalize
        %li.step-divider
  = form_tag wizard_path, class: 'res-mb-100', method: :patch do
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle= t('general.billing_address')
          %p.general-info-text= t('orders.fields_required')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle= t('general.shipping_address')
    .row
      .col-md-5.mb-40
        .visible-xs.visible-sm
          %h3.general-subtitle= t('general.billing_address')
          %p.general-info-text= t('orders.fields_required')
        = simple_fields_for :billing_address, @form.billing_address do |f|
          = render 'forms/address_form', f: f, kind: :billing
      .col-md-5.col-md-offset-1.mb-60
        .visible-xs.visible-sm
          %h3.general-subtitle= t('general.shipping_address')
        - if @form.order.use_billing
          .shipping-fields{style: 'display: none'}
            = simple_fields_for :shipping_address, @form.shipping_address do |f|
              = render 'forms/address_form', f: f, kind: :shipping
        - else
          .shipping-fields
            = simple_fields_for :shipping_address, @form.shipping_address do |f|
              = render 'forms/address_form', f: f, kind: :shipping
        .form-group.checkbox
          %label.checkbox-label
            = check_box_tag :use_billing, @form.order.use_billing, @form.order.use_billing, hidden: true, class: 'checkbox-input'
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text= t('orders.use_billing')
    .general-text-align.mb-60
      %p.in-gold-500.font-18= t('orders.order_summary')
      %table.general-summary-table
        = render 'order_steps/price'
      = submit_tag t('orders.save_and_continue'), class:'btn btn-default center-block mb-20'