%main.container
  %h1.general-title-margin= t('orders.checkout')
  %ul.steps.list-inline
    - (wizard_steps - [:fast_sign]).each_with_index  do |checkout_step, number|
      - if current_step? checkout_step
        = link_to wizard_path(checkout_step), class: 'step active' do
          %span.step-number= number + 1
          %span.step-text.hidden-xs= checkout_step.capitalize
        %li.step-divider
      - else
        = link_to wizard_path(checkout_step, editing: true), class: 'step' do
          %span.step-number= number + 1
          %span.step-text.hidden-xs= checkout_step.to_s.capitalize
        %li.step-divider
  = form_tag wizard_path, method: :patch do
    %h3.general-subtitle Payment
    .hidden-xs.mb-res-50
      %table.table.table-hover
        %thead
          %tr
            %th.col-method
              %span.in-grey-600.ml-40 Method
            %th
              %span.in-grey-600 Days
            %th
              %span.in-grey-600 Price
        %tbody
          - @form.deliveries.each do |delivery|
            %tr
              %td
                .form-group.radio.mt-0.mb-0
                  %label.radio-label
                    = radio_button_tag :delivery, delivery.id, false, class: 'radio-input', hidden: 'true', checked: (delivery == current_order.delivery)
                    %span.radio-icon
                    %span.radio-text= delivery.title
              %td
                %span #{delivery.optimistic_days} to #{delivery.pesimistic_days} days
              %td
                %span.price.font-16.in-gold-500 €#{delivery.price}
    .general-text-align
      %p.in-gold-500.font-18= t('orders.order_summary')
      %table.general-summary-table
        = render 'order_steps/price'
    .text-center
      = submit_tag t('orders.save_and_continue'), class:'btn btn-default mb-20'
