%center= t('users.mailers.facebook.thanks')
%br/
%p= t('users.mailers.facebook.can_log')
%p
  #{t('general.email')}:
  %b= @user.email
%p
  Password:
  %b= @password
%p
  #{t('users.mailers.facebook.want_changes')} #{link_to t('users.mailers.facebook.here'), edit_user_registration_url}.
%br/
%center= t('users.mailers.facebook.bye')


